@import url('https://fonts.cdnfonts.com/css/archivo');
@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@import url('https://fonts.cdnfonts.com/css/josefin-sans');
@import "tailwindcss";



@theme {
  
  --font-Archivo: "Archivo", "sans-serif";
  --font-space-grotesk: "Space Grotesk", "sans-serif";
  --font-Josefin-sans: "Josefin Sans", "sans-serif";
}
